.networks-container {
  margin: 80px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px; /* Adjust width as needed */
}

.circle {
  position: relative;
}

.network-image {
  display: block;
  width: 500px; /* Adjust size as needed */
  height: auto; /* To maintain aspect ratio */
  border-radius: 50%; /* Makes the image round */
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-left{
  text-align: center;
}
.text-right{
  text-align: center;
}

.networks-container button {
  background-color: #212121;
  color: white;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 15px;
}


.networks-container button:hover {
  background-color: #fff;
  color: #212121;
  border-color: #212121;
}

h3{
  font-size: 30px;
}

.network_btn {
  background: #212121;
  color: white;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid transparent; /* Set border to transparent by default */
  outline: 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for smooth animation */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.network_btn:hover {
  background: transparent;
  color: #212121;
  border-color: #212121; /* Change border color on hover */
}