.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;
}

.about-img{
    width: 360px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about h3{
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;
}

.about h2{
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
    text-align: left;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
}

.about_btn {
    background: #212121;
    color: white;
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid transparent; /* Set border to transparent by default */
    outline: 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for smooth animation */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about_btn:hover {
    background: transparent;
    color: #212121;
    border-color: #212121; /* Change border color on hover */
  }