html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    /* list-style: none; */
    margin: 5px 20px;
    font-size: 16px;
}

.dark-nav {
    background: #212EA0;
    transition: 0.5s;
}

#hero,
#features,
#about,
#network,
#contact {
    scroll-margin-top: 230px;
    /* Adjust the offset value as needed */
}

#contributors {
    scroll-margin-top: 980px;
}

.login_btn {
    background: white;
    color: #212121;
    padding: 8px 9px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    outline: 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login_btn:hover {
    background: transparent;
    color: white;
    border-color: white; /* Change border color on hover */
  }