@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: white;
  color: #212121;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid transparent; /* Set border to transparent by default */
  outline: 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for smooth animation */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: transparent;
  color: white;
  border-color: white; /* Change border color on hover */
}

.btn img{
  width: 20px;
  margin-left: 10px;
  transition: filter 0.3s; /* Add transition for smooth color change */
}

.btn:hover img {
  filter: invert(100%); /* Invert the color to turn gray image into white */
}



